.body{
background-color: pink;
}

.container{
width: 300px;
background-color: springgreen;
margin: 0 auto;
height: 300px;
border: 1px

}


.box{
    width: 100px;
    height: 100px;
}

.one{
    background-color: blueviolet;
position: absolute;
}

.two{
    background-color: gray;
    bottom: -10px;
    right: 10px;
    
}

.three{
    background-color: hotpink;
    
}