*, *::before, *::after{
    box-sizing: border-box;
}

body{
    padding-top: 10vh;
    background-color: rgb(104, 97, 97)
}

.grid-gallery{
    width: 688px;
    padding: 10px;
    background-color: rgb(238, 238, 238);
    margin: 0 auto;
}

.grid-gallery-item{
padding: 0;
margin: 10px;
height: 100px;
width: 200px;
max-width: 200px;
display: inline-block;
background-image: url('img/cat.jpg');
background-size: cover;
}

.kitten{
    background-image: url('img/kitten.jpg');    
}

.red{
    background-image: url('img/red.jpg');
}

.white{
    background-image: url('img/white.jpg');    
}

/* When CSS Grid IS supported */
@supports ((display: -ms-grid) or (display: grid)) {
    .grid-gallery{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .grid-gallery .grid-gallery-item:nth-child(3){
        border: 1px solid red;
        grid-column: 3 / 4;
        grid-row: 1 / 3;
        height: auto;
        background-position: center right;
    }

    .grid-gallery .grid-gallery-item:nth-child(4){
        border: 1px solid green;
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        height: auto;
        background-position: center center;
    }    
}